<header class="header">
	<h1>CircuitPython</h1>
	<h2>Source code browser</h2>
	<nav>
		<ul class="nav-links">
			<li><a href="https://github.com/adafruit/circuitpython">Github</a></li>
			<li><a href="https://learn.adafruit.com/building-circuitpython">Build</a></li>
			<li><a href="https://learn.adafruit.com/debugging-the-samd21-with-gdb">Debug</a></li>
			<li><a href="https://learn.adafruit.com/contribute-to-circuitpython-with-git-and-github">Contribute</a></li>
			<li><a href="http://circuitpython.readthedocs.io/en/latest/">Docs</a></li>
			<li><a href="https://learn.adafruit.com/category/circuitpython">Learn</a></li>
			<li><a href="https://forums.adafruit.com/viewforum.php?f=60">Forum</a></li>
			<li><a href="https://adafru.it/discord">Discord</a></li>
			<li><a href="https://blog.adafruit.com/category/circuitpython/">Blog</a></li>
			<li><a href="https://www.adafruit.com/category/956">Buy</a></li>
		</ul>
	</nav>
</header>
